.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    color: black;
}
.carousel-control-prev-icon {
    background-image :url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
    color: black;
}

.carousel-inner{
  width:100%;
  /* max-height: 200px !important; */
}

html,
body {
  font: 100% "Lato", sans-serif;
  font-weight: 300;
  height: 100%;
  /* background-color: #4D4545; */
}

/* tooltip */
.tippy-tooltip {
  background-color: red !important
}
:host ::ng-deep .tippy-tooltip {
  background-color: red !important
}
:host-context(.tippy-tooltip) {
  background-color: red !important
}
.tippy-tooltip[_ngcontent-c0] {
  background-color: red !important
}


.blue-bg {
  /* background-color: #4D4545; */
  color: #ED8D8D;
  height: 100%;
  direction: ltr
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
  font-size: small
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/*****/


.bestSnippArea1066,
.bestSnippArea1066 .bsBox,
.bestSnippArea1066 .bsBox *{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.bestSnippArea1066 {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

@media screen and (max-width: 992px) {
	.bestSnippArea1066 .bsBox{
		margin-bottom: 20px;
	}
}


.bestSnippArea1066 .bsBox.our-team {
    background: #f8f8f8;
    border-radius: 3px;
    overflow: hidden;
    padding: 30px 0 40px;
    position: relative;
    text-align: center;
}

.bestSnippArea1066 .bsBox.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.bestSnippArea1066 .bsBox.our-team .pic:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #4843d2;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.bestSnippArea1066 .bsBox.our-team:hover .pic:before {
    height: 100%;
}

.bestSnippArea1066 .bsBox.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4843d2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bestSnippArea1066 .bsBox.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.bestSnippArea1066 .bsBox.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.bestSnippArea1066 .bsBox.our-team .team-content {
    margin-bottom: 30px;
}

.bestSnippArea1066 .bsBox.our-team .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.bestSnippArea1066 .bsBox.our-team .post {
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

.bestSnippArea1066 .bsBox.our-team .fa {
	font-family: "FontAwesome";
}

.bestSnippArea1066 .bsBox.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #4843d2;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.bestSnippArea1066 .bsBox.our-team:hover .social {
    bottom: 0;
}

.bestSnippArea1066 .bsBox.our-team .social li {
    display: inline-block;
}

.bestSnippArea1066 .bsBox.our-team .social li a {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    width: 40px;
}

.bestSnippArea1066 .bsBox.our-team .social li a:hover {
    color: #4843d2;
    background: #f7f5ec;
}

/***********/



.card-footer{
  display: none;
   position: absolute; 
  background-color: rgba(248, 247, 216, 0.7);
  width: 100%; 
  height: 100%; 
  bottom: 0;
  border-radius:unset;
}

.card:hover .card-footer{
  display: flex;
}

.fab {
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 10px;
  border-radius: 50%;
}
.fab:hover {
  opacity: 0.7;
}

/* products */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Fira Sans", sans-serif;
  color: #383838;
  background-color: #f8f8f8;
}

a {
  /* color: #7b9d6f; */
  text-decoration: none;
}

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  transition: opacity .2s;
}

.cd-horizontal-timeline::bofore {
  content: "mobile";
  display: none;
}

.cd-horizontal-timeline.loaded {
  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  /* max-width: 800px; */
  margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}

.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: linear-gradient(to right, #a4e3f3, rgba(248, 248, 248, 0));
}
:host-context(.dark-mode) .cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: linear-gradient(to right, #053d58, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: linear-gradient(to left, #a4e3f3, rgba(248, 248, 248, 0));
}
:host-context(.dark-mode) .cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: linear-gradient(to left, #053d58, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  background: #dfdfdf;
  transiton: transform .4s;
}

.cd-horizontal-timeline .filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform .3s;
}

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  /* font-size: 1.3rem; */
  font-size: 14px;
  padding-bottom: 15px;
  color: #383838;
  transform: translateZ(0);
}
:host-context(.dark-mode) .cd-horizontal-timeline .events a {
  /* color: #383838; */
  color: #c171f1
}




.cd-horizontal-timeline .events a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  transition: background-color .3s, border-color .3s;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}

.cd-horizontal-timeline .events a.selected {
  /* pointer-events: none; */
}

.cd-horizontal-timeline .events a.selected::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}

.cd-horizontal-timeline .events a.order-event::after {
  border-color: #7b9d6f;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    /* margin: 6em auto; */
  }
  .cd-horizontal-timeline::before {
    content: 'desktop';
    display: none;
  }
}

.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  transition: border-color .3s;
}

.cd-timeline-navigation a::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  background: url(../assets/images/cd-arrow.svg) no-repeat 0 0;
}

.cd-timeline-navigation a.prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
  right: 0;
}

.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}

.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  transition: height .4s;
}

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}

.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}

.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* tooltip */
.tippy-tooltip {
  background-color: red !important
}
:host ::ng-deep .tippy-tooltip {
  background-color: red !important
}
:host-context(.tippy-tooltip) {
  background-color: red !important
}
.tippy-tooltip[_ngcontent-c0] {
  background-color: red !important
}

